:root {
    --Strong-cyan: hsl(171, 66%, 44%);
    --Light-blue: hsl(233, 100%, 69%);
    --Dark-grayish-blue: hsl(210, 10%, 33%);
    --Grayish-blue: hsl(201, 11%, 66%);
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
main {
    margin-top: 7em;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}
p {
    color: var(--Grayish-blue);
    padding: 1rem;
    font-weight: 400;
}
.text {
    max-width: 30rem;
    margin: 1rem auto;
}
.ios {
    width: 200px;
    height: 55px;
    background-color: var(--Strong-cyan);
    color: white;
    padding: 1rem;
    border-radius: 2em;
    border: none;
    border-bottom: green solid 3px;
    box-shadow: var(--Strong-cyan) -2px 15px 15px -12px;
}
button {
    transition: ease-in-out 0.5s;
}
.Mac {
    width: 200px;
    height: 55px;
    background-color: var(--Light-blue);
    color: white;
    padding: 1rem;
    border-radius: 3em;
    border: blue solid 1px;
    border-bottom: blue solid 3px;
    box-shadow: var(--Light-blue) -2px 15px 15px -12px;
    margin-left: 10px;
}
.Snippet {
    margin-top: 90px;
}
.computer-snippet {
    display: flex;
    gap: 90px;
    
}
.computer {
    margin-left: -5rem;
}
.inner-text {
    max-width: 25em;
    margin-top: 70px;
    text-align: left;
}
div > h3 {
    margin-left: 12px;
}
.clipboard {
    margin-top: 90px;
}
.flex-row {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.blacklist {
    max-width: 20em;
}
.text-A {
    max-width: 21em;
}
.preview {
    max-width: 21em;
}
.image-workflow {
    margin-bottom: 2rem;
}
.flex-row-reverse {
    margin-top: 70px;
}
.flex-row-reverse > figure {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.download {
    margin-top: 90px;
}

footer {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: 4em;
}
.footer {
    display: flex;
    margin: auto auto auto 10em;
    padding-top: 3rem;
}
ul{
    list-style: none;
}
.about {
    display: grid;
    grid-template-columns: 9em 9em 9em;
    margin-left: 3rem;
    text-align: left;
}
.social-media {
    display: flex;
    margin-left: 9rem;
    justify-content: space-around;
}
.media {
    margin: 2rem 0rem 0rem 1.3rem;
}
/* Active */
.ios:hover, .Mac:hover {
    opacity: .8;
    cursor: pointer;
}
.about  p:hover {
    text-decoration: underline;
    color: var(--Strong-cyan);
    font-size: 20px;
    cursor: pointer;
}
.media:hover {
    width: 27px;
    height: 23px;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(143deg) brightness(100%) contrast(97%);
    cursor: pointer;
}

/* Responsive */
@media (max-width:768px) {
    body {
        background-image: url(./images/bg-header-mobile.png);
        text-align: center;
        margin: 0 auto;
    }
    .button {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 30px;
    }
    .computer-snippet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .computer > img {
        width: 70%;
        align-items: center;
        margin-left: 4rem;
    }
    .inner-text {
        margin-top: -5em;
        text-align: center;
        gap: 0em;
    }
    .device {
        width: 70%;
    }
    .flex-row {
        flex-direction: column;
        align-items: center;
    }
    .flex-row-reverse > figure {
        flex-direction: column-reverse;
        grid-row-gap: 3rem;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        grid-row-gap: 1rem;
        margin: 0px;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .social-media {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
}

@media(max-width:1060px) {
    .computer-snippet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .computer > img {
        align-items: center;
        margin-left: 4rem;
    }
    .inner-text {
        margin-top: -4em;
        text-align: center;
        gap: 0em;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        grid-row-gap: 1rem;
        margin-left: 0px;
    }
    .social-media {
        margin-left: -15px;
    }

}